<section class="benefit">
  <img class="benefit-img" src="../img/png/description-img.png">
  <div class="info">
    <div class="info_title">Satisfied Clients</div>
    <div class="info_amount">8.4M+</div>
    <p class="info_main-text">We can bring to life everything you've ever envisioned and dreamed of – your ideals and
      desires are our
      creations.</p>
    <p class="info_additional-text">Our purpose is to transform your wildest dreams into reality. Regardless of how
      unconventional your vision may be, we possess the capability to craft your dream home, fulfilling your every
      desire.</p>
    <button class="info_btn btn">See More</button>
  </div>
</section>
