<footer class="footer">
  <div class="footer-top">
    <div class="footer-title">Start Your Project Now!</div>
    <div  class="footer-btn_container">
      <div class="footer-btn">Contact Us</div>
    </div>
  </div>
  <p class="footer-text">
    Made for you convenience for a more beautiful future for you and your family
  </p>
  <div class="footer_menu">
    <img class="footer_logo" src="../img/svg/logo_hatly_dark.svg" alt="logo hatly">
    <nav class="footer_nav">
      <ul class="footer_list">
        <li class="footer_item"><a>About Us</a></li>
        <li class="footer_item"><a>Management</a></li>
        <li class="footer_item"><a>Project</a></li>
        <li class="footer_item"><a>FAQ`s</a></li>
      </ul>
    </nav>
  </div>
</footer>
