<header class="header">
  <div class="container">
    <h1 class="title">hatly</h1>
    <a class="logo">
      <img src="../img/svg/logo_hatly_dark.svg" alt="logo hatly">
    </a>
    <nav class="nav" title="Main navigation">
      <ul class="nav_list">
        <li class="nav_item">
          <a  href="#" class="nav_link nav_link-active">Home</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_link">Projects</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_link">About Us</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_link">FAQ`s</a>
        </li>
      </ul>
    </nav>
    <div class="contact-btn">Contact Us</div>
  </div>
</header>
