<section class="intro">
  <img class="intro_img-bg" src="../img/svg/intro_bg.svg">
  <div class="container">
    <div class="intro_left">
        <div class="info">
          <p class="info_title">Capital raised</p>
          <p class="info_amount">$3.5M+</p>
          <p class="info_text">Crafted for your comfort, to enhance the beauty of your present lifestyle but also paves
            the way for a more aesthetically pleasing and harmonious future for both you and your cherished family.</p>
        </div>
        <div class="description">
          <p class="description_title">Introduction</p>
          <p class="description_text">A vision for liveable, sustainable & affordable.</p>
          <p class="description_btn btn">Start Exploring</p>
        </div>
      </div>
    <div class="intro_right">
      <h2 class="intro_title">We craft the future dwelling.</h2>
      <img class="intro_img" src="../img/png/intro_img.png" alt="modern house">
    </div>
  </div>
</section>
