<section class="reviews">
  <div class="reviews-container">
    <h3 class="reviews-title">What our customers say</h3>
    <div class="reviews-item">
      <p class="reviews-text">They make it super easy and safe to find a room for rent, prioritizing both convenience
        and safety. The customer support team is exceptionally responsive and genuinely helpful, ensuring a smooth
        experience. I wholeheartedly endorse this platform. </p>
      <p class="reviews-author">Ashley Cooper</p>
      <img class="reviews-mark" src="../img/svg/reviews-mark.svg" alt="reviews mark"/>
    </div>
    <div class="reviews-item">
      <p class="reviews-text">They make it super easy and safe to find a room for rent, prioritizing both convenience
        and safety. The customer support team is exceptionally responsive and genuinely helpful, ensuring a smooth
        experience. I wholeheartedly endorse this platform. </p>
      <p class="reviews-author">Ashley Cooper</p>
      <img class="reviews-mark" src="../img/svg/reviews-mark.svg" alt="reviews mark"/>
    </div>
    <div class="reviews-item">
      <p class="reviews-text">They make it super easy and safe to find a room for rent, prioritizing both convenience
        and safety. The customer support team is exceptionally responsive and genuinely helpful, ensuring a smooth
        experience. I wholeheartedly endorse this platform. </p>
      <p class="reviews-author">Ashley Cooper</p>
      <img class="reviews-mark" src="../img/svg/reviews-mark.svg" alt="reviews mark"/>
    </div>
    <div class="reviews-item">
      <p class="reviews-text">They make it super easy and safe to find a room for rent, prioritizing both convenience
        and safety. The customer support team is exceptionally responsive and genuinely helpful, ensuring a smooth
        experience. I wholeheartedly endorse this platform. </p>
      <p class="reviews-author">Ashley Cooper</p>
      <img class="reviews-mark" src="../img/svg/reviews-mark.svg" alt="reviews mark"/>
    </div>
  </div>
</section>
